set tim y2k
attach rp0 t10.dsk
;attach -am dz 2020
;set console log=tops10.log
expect "BOOT>" send "\r"; continue;
expect "Why reload:" send "sched\r"; continue;
expect "Date:" send "\r"; continue;
expect "Time:" send "\r"; continue;
expect "Startup option:" send "go\r"; continue;
expect "OPR>" send "exit\rset tty vt100\rrun %1\r"; noexpect; continue;
boot rp0